body {
  font-family: 'Raleway', sans-serif;
  color: #000000;
  background-image: url("../images/bg.jpg");
  background-size: cover;
}

.layout_padding {
  padding-top: 50px;
  padding-bottom: 100px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 120px;
}

.layout_padding-bottom {
  padding-bottom: 120px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.heading_container h1 {
  font-weight: bold;
  font-size: 3.5em;
  color: #000000;
  font-family: 'Edu AU VIC WA NT Hand', cursive;
  font-style: normal;
}

.heading_container h2 {
  font-weight: bold;
  font-size: 2.5em;
  font-family: 'Edu AU VIC WA NT Hand', cursive;
  color: #f0b016;
  font-style: normal;
}
.heading_container h3 {
  font-size: 1.5em;
}

/*header section*/
.hero_area {
  height: 100vh;
  position: relative;
  background-image: url(../images/bg2.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.hero_area .slick_main {
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  height: 100vh;
  display: block;
  margin: 0 auto;
}

.hero_area .slick_main .main-img-box {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.hero_area .slick_main .main-img-box.b1 {
  background-image: url(../images/slide1.jpg);
}

.hero_area .slick_main .main-img-box.b2 {
  background-image: url(../images/slide2.webp);
}

.hero_area .slick_main .main-img-box.b3 {
  background-image: url(../images/slide3.jpg);
}

.sub_page .hero_area {
  height: auto;
  background-position: top right;
}

.sub_page .hero_area .navbar .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  padding: 10px 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.slider_section .row {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
}

.slider_section .brand_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.slider_section .brand_box a {
  max-width: 250px;
}

.slider_section .brand_box a img {
  max-width: 100%;
}

.slider_section .slider_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.slider_section .slider_content #carouselExampleIndicators {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: unset;
}

.slider_section .slider_content #carouselExampleIndicators .detail_box {
  padding-left: 25px;
  position: relative;
}

.slider_section .slider_content #carouselExampleIndicators .detail_box h1 {
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: cursive;
}

.slider_section .slider_content #carouselExampleIndicators .detail_box p {
  color: #b5b0b0;
}

.slider_section .slider_content #carouselExampleIndicators .detail_box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .slider_content #carouselExampleIndicators .detail_box .btn-box a {
  width: 130px;
  margin: 15px;
  text-align: center;
  font-size: 16px;
}

.slider_section .slider_content #carouselExampleIndicators .detail_box .btn-box .btn-1 {
  display: inline-block;
  padding: 5px 0;
  background-color: #f0b016;
  border: 1px solid #f0b016;
  color: #ffffff;
  border-radius: 8px;
}

.slider_section .slider_content #carouselExampleIndicators .detail_box .btn-box .btn-1:hover {
  background-color: transparent;
  color: #f0b016;
}

.slider_section .slider_content #carouselExampleIndicators .detail_box .btn-box .btn-2 {
  display: inline-block;
  padding: 8px 0;
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
  border-radius: 5px;
}

.slider_section .slider_content #carouselExampleIndicators .detail_box .btn-box .btn-2:hover {
  background-color: transparent;
  color: #000000;
}

.slider_section .slider_content .img_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slider_section .slider_content .img_container .slick_slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider_section .slider_content .img_container .slick_slider-nav .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider_section .slider_content .img_container .slick_slider-nav .img-box {
  margin-right: 5px;
  min-width: 100px;
}

.slider_section .slider_content .img_container .slick_slider-nav img {
  max-width: 70%;
  max-height: 70%;
}

.slider_section .carousel-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 15px;
}

.slider_section .carousel-btn-box .carousel-control-prev,
.slider_section .carousel-btn-box .carousel-control-next {
  position: unset;
  width: 45px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.slider_section .carousel-indicators-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b5b0b0;
  bottom: 10%;
  left: 15%;
  font-size: 18px;
}

.slider_section .carousel-indicators {
  position: unset;
  padding: 0;
  margin: 0;
}

.slider_section .carousel-indicators li {
  text-indent: 0;
  width: auto;
  height: auto;
  opacity: 1;
  background-color: transparent;
  border: none;
  display: none;
}

.slider_section .carousel-indicators li.active {
  display: block;
}

.about_section {
  position: relative;
}

.about_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 90%;
  margin: auto;
}

.about_section .box .img_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about_section .box .img_container .img-box {
  position: relative;
  margin: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about_section .box .img_container .img-box img {
  width: 100%;
  position: relative;
  z-index: 2;
}

.about_section .box .img_container .img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
}

.about_section .box .img_container .img-box.b1::before {
  -webkit-transform: translateY(75px);
          transform: translateY(75px);
}

.about_section .box .img_container .img-box.b2 {
  margin-top: 150px;
}

.about_section .box .img_container .img-box.b2::before {
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px);
}

.about_section .box .detail-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.about_section .box .detail-box h2 {
  font-weight: bold;
  font-size: 3em;
}

.about_section .box .detail-box h3 {
  margin-top: 5px;
  font-size: 1.5em;
}

.about_section .box .detail-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: #f0b016;
  border: 1px solid #f0b016;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 35px;
}

.about_section .box .detail-box a:hover {
  background-color: transparent;
  color: #f0b016;
}

.about_section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 65%;
  height: 1px;
  background-color: #b0b0b0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.news_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news_section .heading_container h2::before {
  background-color: #ffffff;
}

.news_section .box {
  margin-top: 70px;
  background-color: #ffffff;
}

.news_section .box .img-box {
  position: relative;
  justify-content: center;
  justify-items: center;

}

.news_section .box .img-box img {
  width: 60%;
}

.news_section .box .img-box .date {
  position: absolute;
  left: 25px;
  bottom: 15px;
}

.news_section .box .detail-box {
  margin-top: 25px;
}

.contact_section {
  background-image: url(../images/contact_bg.jpg);
  background-size: cover;
  position: relative;
  color: #ffffff;
}

.contact_section h2 {
  margin-bottom: 65px;
  font-weight: bold;
  color: #000000;
}

.contact_section form {
  padding-right: 4px;
}

.contact_section input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: #ffffff;
  outline: none;
  color: #000000;
  border-radius: 30px;
  font-size: 18px;
}

.contact_section textarea {
  border: none;
  border-radius: 20px;
  padding-left: 25px;
  padding-top: 10px;
  color: #000000;
  background-color: #ffffff;
  font-size: 18px;
}

.contact_section input::-webkit-input-placeholder {
  color: #000000;
}

.contact_section input:-ms-input-placeholder {
  color: #000000;
}

.contact_section input::-ms-input-placeholder {
  color: #000000;
}

.contact_section input::placeholder {
  color: #000000;
}

.contact_section input.message-box {
  height: 100px;
  border-radius: 15px;
}

.contact_section button {
  padding: 10px 40px;
  outline: none;
  border: none;
  border-radius: 30px;
  color: #fff;
  background: #f0b016;
  margin: auto;
  margin-top: 20px;
  font-size: 18px;
}

.social-links {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.social-links a {
  margin: 0 10px;
  font-size: 3em; /* Ukuran ikon */
  color: #000000; /* Warna ikon */
  transition: color 0.3s ease;
}

.info_section .info_form {
  margin: 0 auto;
  width: 75%;
}

.info_section .info_form h4 {
  margin-bottom: 10px;
}

.info_section .info_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.info_section .info_form form input {
  background-color: #ffffff;
  border: none;
  width: calc(100% - 55px);
  outline: none;
  color: #000000;
  height: 42.4px;
  padding-left: 15px;
}

.info_section .info_form form input ::-webkit-input-placeholder {
  color: #9a9999;
}

.info_section .info_form form input :-ms-input-placeholder {
  color: #9a9999;
}

.info_section .info_form form input ::-ms-input-placeholder {
  color: #9a9999;
}

.info_section .info_form form input ::placeholder {
  color: #9a9999;
}

.info_section .info_form form button {
  border: none;
  outline: none;
  background-color: #f0b016;
  width: 55px;
  font-size: 15px;
  text-transform: uppercase;
  background-image: url(../images/right-arrow.png);
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

/* footer section*/
.footer_section {
  background-color: #f0b016;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer_section p {
  color: #ffffff;
  margin: 0;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

.footer_section a {
  color: #ffffff;
}
